.agile {
    width: 75%;
}
.signin-form {
    background: url(https://i.pinimg.com/736x/26/64/98/266498ecbf9315d8edcdaadf9d4a7680--landscape-illustration-flat-illustration.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 2em 2em;
    margin: 30px 30px 50px 400px;
	text-align: center;
}
.signin-form h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.signin-form h3 span {
    color: #67e1ff;
}

.login-form {
    margin: 10px 20px 2.5em 50px;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 90%;
    padding: 30px 30px 20px 30px;
    font-size: 0.8em;
    margin: 1em 0;
    outline: none;
    color: #FFF;
    border: none;
    border-bottom: 2px solid #fff;
	letter-spacing: 1px;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
::-webkit-input-placeholder{
	color:#fff !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.9em 0;
    width: 50%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #002242;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.975em;
    color: #fff;
    letter-spacing: 1px;
}