<div class="agile">
  <div class="signin-form profile">
    <h3>Change Password</h3>
    <div class="login-form">
      <form id="form" ngNativeValidate (ngSubmit)="changePassword(oldPassword.value,newPassword.value,confirmPassword.value)">
        <input type="password" name="email" placeholder="Enter Old password" #oldPassword required="">
        <input type="password" name="name" placeholder="Enter new password" #newPassword required="">
        <input type="password" name="password" placeholder="Re-type new password" #confirmPassword required="">
        <br>
        <input type="submit" value="Change Password">
      </form>
    </div>
  </div>
</div>